@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --rock-color: gray;
  --scissors-color: orange;
  --paper-color: lightblue;
}

#game-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}

.side-box {
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 100vw;
  flex-shrink: 3;
}

.rock-paper-scissors {
  height: 20vh;
  width: 33.33333vw;
  transition: transform 0.4s ease-out;
}

#arena-box {
  height: 60vw;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  text-align: center;
}

#arena-box div {
  height: 100%;
  width: 100%;
}

#combat-box {
  display: flex;
  flex-direction: column;
}

.rock { background-color: var(--rock-color); }
.paper { background-color: var(--paper-color); }
.scissors { background-color: var(--scissors-color); }

#result-box , #versus-box {
  font-size: 3rem;
  font-family: "Anton", sans-serif;
}

#result-text {
  font-size: 5rem;
  text-shadow: 1px 1px 5px gold;
}

#score-box {
  font-family: "Anton", sans-serif;
  font-size: 7rem;
}