:root {
  --rock-color: gray;
  --scissors-color: orange;
  --paper-color: lightblue;
}

#game-box {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}

.side-box {
  display: flex;
  flex-direction: column;
  width: 20vw;
  flex-shrink: 3;
}

.rock-paper-scissors {
  height: 30vh;
}

#arena-box {
  width: 60vw;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#arena-box div {
  height: 30vh;
  width: 100%;
}

#combat-box {
  display: flex;
  flex-direction: row;
}

.rock { background-color: var(--rock-color); }
.paper { background-color: var(--paper-color); }
.scissors { background-color: var(--scissors-color); }