#game-box {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.side-box {
  display: flex;
  flex-direction: column;
  width: 20vw;
  flex-shrink: 3;
}

.rock-paper-scissors {
  height: 30vh;
}

#arena-box {
  width: 60vw;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#arena-box div {
  height: 30vh;
  width: 100%;
}

#combat-box {
  display: flex;
  flex-direction: row;
}